autopep8==2.0.2
click==8.0.3
colorama==0.4.4
dnspython==2.3.0
Flask==2.2.3
Flask-PyMongo==2.3.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.1.2
pycodestyle==2.10.0
pymongo==4.3.3
python-http-client==3.3.5
sendgrid==6.9.4
starkbank-ecdsa==2.0.3
tomli==2.0.1
Werkzeug==2.2.3
